[submodule "Dependencies/CommonLoader"]
	path = Dependencies/CommonLoader
	url = https://github.com/hedge-dev/CommonLoader
[submodule "Dependencies/BlueBlur"]
	path = Dependencies/BlueBlur
	url = https://github.com/blueskythlikesclouds/BlueBlur
[submodule "Dependencies/LWAPI"]
	path = Dependencies/LWAPI
	url = https://github.com/hedge-dev/LWAPI